/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #444;
}

/* Profile Image */
.profile-img {
    max-width: 200px; /* Increased size */
    width: 100%; /* Ensure it scales */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

/* Business Image */
.business-image {
    max-width: 300px; /* Business image size */
    width: 100%; /* Ensure image scales */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

/* Buttons */
button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #303438;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #1a181c;
}

/* Sticky Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    margin-top: auto;
}

footer a {
    color: skyblue;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Navigation Bar */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 20px;
}

.text {
    text-align: left;
}

footer a { 
    color: skyblue;
    text-decoration: none;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
}